.homeGuests {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.homeGuestsItem {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.homeGuestsImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featuredTitles {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.homeuestsName {
    font-weight: bold;
}

.homeuestsCity {
    font-weight: 300;
}

.homeuestsPrice {
    font-weight: 500;
}

.homeGuestsRating>button {
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.homeGuestsRating>span {
    font-size: 14px;
}