.featuredHotel {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.featuredHotelItem {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.featuredHotelImg {
    width: 100%;
    height: 220px;
    border-radius: 0 30px;
    object-fit: cover;
}

.featuredTitles {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.featuredHotelName {
    font-weight: bold;
}

.featuredHotelCity {
    font-weight: 300;
}

.featuredHotelPrice {
    font-weight: 500;
}

.featuredHotelRating>button {
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.featuredHotelRating>span {
    font-size: 14px;
}